* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #222222;
    color: #ffffff;
    overflow: hidden;
    text-align: center;
}
#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 1;
    gap: 1rem;
}